@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

.fa-star { cursor: pointer; }

p, h1, label {
	color: #fff;
}

body{
  font-family: 'Roboto Condensed', sans-serif,;
  font-color: white;
  background-size:cover;
  -webkit-background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

#def{
	background-image:url("../img/def.jpg") ;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 500px;
}

.container {
    position: relative;
    width: 100%;
}

.grid-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
	width: 100%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.image-text {
  background-color: #02a7be;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

form {
  width:30%;
  margin:40px auto;
  position:relative;
  backface-visibility:visible;
  background:rgba(70,70,70,0.2);
  text-align:center;
  padding: 15px 15px 20px 15px;
  border:3px solid #fff;
  -webkit-border-radius:15px 0;
 -moz-border-radius:15px 0;
  border-radius:15px 0;
  letter-spacing:1px
  font-family:'Roboto Condensed', sans-serif;


}

label {
  font-size: 20px;
  font-family:'Roboto Condensed', sans-serif;
}

input{
  width: 50%;
  height: 40px;
  border-radius:15px 0;
  border:2px solid #fff;
  margin: 10px 10px 15px 5px;
  background-color:transparent;
  color: #ffffff;
  size:10px;
  padding: 5px 5px 5px 5px;
  outline:none;
}

#email {
  margin-left: 13%;
}

#error
{
	color: red;
}

input[type=submit] {
       width: 150px;
       height: 50px;
       background-color: #e3b982;
       color: white;
       padding: 12px 20px;
       border: none;
       border-radius: 4px;
       cursor: pointer;
       font-family:'Roboto Condensed', sans-serif;
       font-size: 20px;
}
input[type=submit]:hover{
   width: 150px;
       height: 50px;
       background-color:#e3a582;
       color: white;
       padding: 12px 20px;
       border: none;
       border-radius: 15px;
       cursor: pointer;
       font-family:'Roboto Condensed', sans-serif;
       font-size: 20px;
}


.navbar{
    overflow: hidden;
    background-color: rgba(10, 30, 50, 0.4);
}

.navbar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 24px;
  font-family:'Roboto Condensed', sans-serif;

}

.navbar a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 15px;
 }

 #logo{
     float: left;
     margin-top: 0px;

 }

/* Dropdown Button */
select {
    background-color: rgba(10, 30, 50, 0.4);
    color: black;
    display: block;
    margin: auto;
    padding: 26px;
    margin-top:15px;
    min-width:50%;
    font-size: 26px;
    border-radius: 15px;
    cursor: pointer;
	font-family: 'Roboto Condensed', sans-serif;
	color: #fff;
}

/* Dropdown button on hover & focus */
select:hover, select:focus {
    background-color: #ddd;
	color: black;
}



/* Dropdown Content (Hidden by Default) */
select-items {
    display: none;
    margin:auto;
    position: relative;
	width: 20%;
    background-color: #fff ;
    border: solid;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
select-items {
    color: black;
    padding: 12px 16px;
    margin:5px 5px 5px 5px;
	  border-radius:10px;
    text-decoration: none;
    display: block;
}


.profile {
	margin: 20px auto 20px auto;
  padding: 20px 20px 20px 20px;
	height: auto;
  width: 60%;
  min-width: 240px;
  text-align: center;
  background: rgba(10, 30, 50, 0.4) ;
  border-radius: 2px;
	position: relative;
}

.profile img {
  width: 160px;
  border-radius: 90px;
  border: 0.5px solid #d0d0d0;
  margin-bottom: 28px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  transition: transform 1s;
}

.profile h1, .profile h2 {
  color: #ddd;
  text-rendering: optimizeLegibility;
}
.profile h1 {
  font-family: "Sigmar One", Serif;
  font-size: 24px;
  line-height: 26px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
}
.profile h2 {
  font-family: "Passion One", Serif;
  font-size: 20px;
  line-height: 22px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
}

#profile-navbar{
  /* float: right; */
  color: #f2f2f2;
  text-align: center;
  padding: 10px 12px;
  margin: auto;
  text-decoration: none;
  font-size: 24px;
  font-family:'Roboto Condensed', sans-serif;
}

#profile-navbar button{
  /* float: right; */
  color: black;
  text-align: center;
  padding: 10px 12px 10px 12px;
  margin: auto;
  text-decoration: none;
  font-size: 24px;
  font-family:'Roboto Condensed', sans-serif;
  background-color: #ddd;
  border: none;
  border-radius: 10px;

}

#profile-navbar button:hover{
  background-color: #fff;
  color: black;
  border-radius: 15px;
}

.apartment{
  padding: 30px;
  margin: 30px auto;
  height: 60%;
  width: 60%;
  min-width: 240px;
  text-align: center;
  background: rgba(10, 30, 50, 0.4) ;
  border-radius: 2px;
}

.apartment img {
  width: 160px;
  border: 90px;
  border: 0.5px solid #d0d0d0;
  margin-bottom: 28px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  transition: transform 1s;
}

.apartment h1, .apartment h2 {
  color: #ddd;
  text-rendering: optimizeLegibility;
}
.apartment h1 {
  font-family: "Sigmar One", Serif;
  font-size: 24px;
  line-height: 26px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
}
.apartment h2 {
  font-family: "Passion One", Serif;
  font-size: 20px;
  line-height: 22px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;


.footer p {
	color: #fff;
	font-size: 30px;
    height: 80px;
    line-height: 80px;
    margin: 0;
}


/* Comment */

/**
 * Oscuro: #283035
 * Azul: #03658c
 * Detalle: #c7cacb
 * Fondo: #dee1e3
 ----------------------------------*/
 /* * {
 	margin: 0;
 	padding: 0;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }

 a {
 	color: #03658c;
 	text-decoration: none;
 }

ul {
	list-style-type: none;
}

body {
	font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
	background: #dee1e3;
} */

/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
	margin: 60px auto 15px;
	width: 768px;
}

.comments-container h1 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}

.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}

.comments-list {
	margin-top: 30px;
	position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
	content: '';
	width: 2px;
	height: 100%;
	background: #c7cacb;
	position: absolute;
	left: 32px;
	top: 0;
}

.comments-list:after {
	content: '';
	position: absolute;
	background: #c7cacb;
	bottom: 0;
	left: 27px;
	width: 7px;
	height: 7px;
	border: 3px solid #dee1e3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
	content: '';
	width: 60px;
	height: 2px;
	background: #c7cacb;
	position: absolute;
	top: 25px;
	left: -55px;
}


.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 88px;
	clear: both;
	margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
	width: 65px;
	height: 65px;
	position: relative;
	z-index: 99;
	float: left;
	border: 3px solid #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	overflow: hidden;
}

.comments-list .comment-avatar img {
	width: 100%;
	height: 100%;
}

.reply-list .comment-avatar {
	width: 50px;
	height: 50px;
}

.comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
	width: 680px;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #FCFCFC;
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.reply-list .comment-box {
	width: 610px;
}
.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
	color: #03658c;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.comment-box .comment-name a {
	color: #283035;
}

.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
	content: 'autor';
	background: #03658c;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
	.comments-container {
		width: 480px;
	}

	.comments-list .comment-box {
		width: 390px;
	}

	.reply-list .comment-box {
		width: 320px;
	}
}
